loadmodule "jsonrpcs.so"
loadmodule "auth.so"
loadmodule "auth_db.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "uac.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "acc.so"
loadmodule "dialog.so"
loadmodule "keepalive.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
//loadmodule "dmq.so"
//loadmodule "dmq_usrloc.so"
loadmodule "cfg_rpc.so"
loadmodule "debugger.so" 
loadmodule "db_mysql.so"
loadmodule "sqlops.so"
loadmodule "pike.so"
loadmodule "htable.so"
loadmodule "nathelper.so"
loadmodule "rtpengine.so"
loadmodule "carrierroute.so"
loadmodule "dispatcher.so"
loadmodule "counters.so"
loadmodule "nat_traversal.so"

modparam("jsonrpcs", "pretty_format", 1)
modparam("jsonrpcs", "fifo_name", "/var/run/kamailio/kamailio_rpc.fifo")
modparam("jsonrpcs", "dgram_socket", "/var/run/kamailio/kamailio_rpc.sock")
modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")
modparam("tm", "failure_reply_mode", 3)
modparam("tm", "fr_timer", 30000)

// default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "remap_503_500", 0)

// ----- rr params -----
// set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
// do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 1)

// ----- registrar params -----f
modparam("registrar", "method_filtering", 1)
modparam("registrar", "append_branches", 1)
/* uncomment the next line not to allow more than 10 contacts per AOR */
//modparam("registrar", "max_contacts", 10)
// max value for expires of registrations
modparam("registrar", "max_expires", MAXEXPIRES)

// ----- usrloc params -----
modparam("usrloc", "db_url", DBURL)
modparam("usrloc", "db_mode", 2)

modparam("auth_db", "db_url",DBURL)
modparam("auth_db", "calculate_ha1", yes)
modparam("auth_db", "password_column", "password")
modparam("auth_db", "load_credentials", "")

// modeDebug
modparam("debugger", "cfgtrace", 1)
modparam("debugger", "log_level_name", "exec")


# ----- nathelper params -----
modparam("nathelper", "natping_interval", 30)
modparam("nathelper", "ping_nated_only", 0)
modparam("nathelper", "sipping_from", PINGER)
modparam("nathelper", "nat_addr_mode", 1)


modparam("uac","reg_db_url",DBURL)
modparam("uac","reg_db_table","uacreg")
modparam("uac", "reg_timer_interval",30)
modparam("uac", "reg_retry_interval",120)
modparam("uac", "reg_contact_addr", "192.168.75.68:5060")
modparam("uac", "auth_realm_avp", "$avp(realm)")
modparam("uac", "auth_username_avp", "$avp(uname)")
modparam("uac", "auth_password_avp", "$avp(passwd)")
modparam("uac", "restore_mode", "auto")

modparam("sqlops","sqlcon", "ca=>mysql://kamailio:kamailiorw@localhost/kamailio")

modparam("nat_traversal", "keepalive_interval", 90)
modparam("nat_traversal", "keepalive_method", "OPTIONS")
modparam("keepalive", "ping_from", "sip:keepalive@sbc.elaynolie.ru")
modparam("keepalive", "ping_from", "your_domain")
modparam("keepalive", "ping_interval", 30)

# params needed for NAT traversal in other modules
modparam("nathelper|registrar", "received_avp", "$avp(RECEIVED)")

#----- flood detect--------------
modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 16)
modparam("pike", "remove_latency", 4)


modparam("htable", "htable", "cids=>size=8");
modparam("htable", "htable", "ipban=>size=8;autoexpire=300")
//modparam("htable", "enable_dmq", 1)
//modparam("htable", "dmq_init_sync", 1)

modparam("rtpengine", "rtpengine_sock","udp:127.0.0.1:7724")

modparam("usrloc", "db_url", DBURL)

//modparam("acc", "early_media", 1)
//modparam("acc", "report_ack", 1)
//modparam("acc", "report_cancels", 1)
//modparam("acc", "failed_filter", "404,407")
//modparam("acc", "time_format", "%Y/%m/%d %H:%M:%S")
//modparam("acc", "cdr_enable", 1)
//modparam("acc", "log_level", 1)
//modparam("acc", "log_flag", FLT_ACC)
//modparam("acc", "log_missed_flag", FLT_ACCMISSED)
//modparam("acc", "failed_transaction_flag", FLT_ACCFAILED)
//modparam("acc", "acc_method_column", "method")
//modparam("acc", "cdr_start_on_confirmed", 1)
//modparam("acc", "cdrs_table", "acc_cdrs")
//modparam("acc", "db_url", DBURL)
//modparam("acc", "cdr_expired_dlg_enable", 1)
//modparam("acc", "cdr_start_on_confirmed", 1)
//modparam("acc", "cdr_facility", "LOG_DAEMON")
//modparam("acc", "db_extra", "src_user=$fU;src_domain=$fd;dst_ouser=$tU;dst_user=$rU;dst_domain=$rd")
//modparam("acc", "log_extra","src_user=$fU;src_domain=$fd;dst_ouser=$tU;dst_user=$rU;dst_domain=$rd")

modparam("dialog", "track_cseq_updates", 1)
modparam("dialog", "enable_stats", 0)
modparam("dialog", "db_url", DBURL)
modparam("dialog", "db_mode", 1)
modparam("dialog", "dlg_flag", 4)
modparam("dialog", "profiles_with_value", "concurrent_calls")

modparam("dispatcher", "db_url", DBURL)
modparam("dispatcher", "ds_ping_method", "OPTIONS")
modparam("dispatcher", "ds_ping_from", HOSTNAME)
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_ping_interval", 30)
modparam("dispatcher", "ds_probing_threshold", 10)
modparam("dispatcher","ds_ping_reply_codes", "class=2;class=3;code=403;code=404")
modparam("dispatcher", "xavp_dst", "_dsdst_")
modparam("dispatcher", "xavp_ctx", "_dsctx_")


modparam("carrierroute", "db_url", DBURL)
modparam("carrierroute", "config_source", "db")
modparam("carrierroute", "default_tree", "default")

//modparam("dmq", "server_address", "sip:192.168.75.68:5090")
//modparam("dmq", "notification_address", "sip:192.168.75.69:5090")
//modparam("dmq", "multi_notify", 1)
//modparam("dmq_usrloc", "enable", 1)
//modparam("dmq", "ping_interval", 30)

